.slider-main {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 40px 120px;
  .swiper-container {
    width: calc(100% - 435px);
  }

  &__item {
    display: flex;
    justify-content: space-between;
    height: 360px;
    width: 80%;
  }
  &__bonus {
    width: 410px;
    height: 360px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: conic-gradient(
      from 180deg at 50% 50%,
      #ff5a00 0deg,
      #ff5a00 60deg,
      #ffa400 119.14deg,
      #ff5a00 162.19deg,
      #ff6f00 203.13deg,
      #ffe600 260.62deg,
      #ffa000 303.14deg,
      #ff5a00 360deg
    );
    &-title {
      font-size: 120px;
      line-height: 1;
      font-weight: 800;
      margin-bottom: 32px;
      text-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.2);
    }
  }
  &__content {
    width: 100%;
    height: 100%;
    background: radial-gradient(
      42.48% 63.78% at 50% 50%,
      #810384 33.33%,
      #170067 100%
    );
    padding: 52px 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    z-index: 1;
    text-align: left;
  }
  &__title {
    font-size: 64px;
    line-height: 1;
    font-weight: 800;
    text-transform: uppercase;
    span {
      color: $color-text-orange;
    }
  }
  &__description {
    p {
      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}
