<div class="payment-history">
  <h3 class="payment-history__title">История платежей</h3>
  <ul class="payment-history__header">
    <li>Дата</li>
    <li>Подписка</li>
    <li>Тип платежа</li>
    <li>Сумма</li>
    <li>Статус</li>
  </ul>
  <ul class="payment-history__row">
    <li class="payment-history__date">16.06.2023</li>
    <li class="payment-history__name">Подписка на 1 месяц</li>
    <li class="payment-history__type">Рекуррентный</li>
    <li class="payment-history__price">400 руб.</li>
    <li>
      <span class="payment-status success"
        ><i class="icon-success"></i>Успешно</span
      >
    </li>
  </ul>
  <ul class="payment-history__row">
    <li class="payment-history__date">16.06.2023</li>
    <li class="payment-history__name">Подписка на 1 месяц</li>
    <li class="payment-history__type">Рекуррентный</li>
    <li class="payment-history__price">400 руб.</li>
    <li>
      <span class="payment-status success"
        ><i class="icon-success"></i>Успешно</span
      >
    </li>
  </ul>
  <ul class="payment-history__row">
    <li class="payment-history__date">16.06.2023</li>
    <li class="payment-history__name">Подписка на 1 месяц</li>
    <li class="payment-history__type">Рекуррентный</li>
    <li class="payment-history__price">400 руб.</li>
    <li>
      <span class="payment-status error"><i class="icon-error"></i>Ошибка</span>
    </li>
  </ul>
  <ul class="payment-history__row">
    <li class="payment-history__date">16.06.2023</li>
    <li class="payment-history__name">Подписка на 1 месяц</li>
    <li class="payment-history__type">Рекуррентный</li>
    <li class="payment-history__price">400 руб.</li>
    <li>
      <span class="payment-status success"
        ><i class="icon-success"></i>Успешно</span
      >
    </li>
  </ul>
</div>
