<div class="slider-main">
  <div class="swiper-container" data-slider-main>
    <div class="swiper-wrapper">
      {% for items in range(0, 3) %}
      <div class="swiper-slide slider-main__item">
        <div class="slider-main__content">
          <h3 class="slider-main__title">
            <span>king asia</span> Under menu there shouldbe banners
          </h3>
          <div class="slider-main__description">
            <p>
              Under menu there should be banners and description of what the
              user needs to do to get the initial bonus
            </p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <div class="swiper-pagination-main"></div>
</div>
