<!--
Компонент.
Кнопки социальных сетей
-->

<ul class="socials">
  <li class="socials__item">
    <a class="socials__link" href="#"
      ><img src="/img/icons/google.svg" alt=""
    /></a>
  </li>
  <li class="socials__item">
    <a class="socials__link" href="#"
      ><img src="/img/icons/yandex.svg" alt=""
    /></a>
  </li>
  <li class="socials__item">
    <a class="socials__link" href="#"><img src="/img/icons/vk.svg" alt="" /></a>
  </li>
  <li class="socials__item">
    <a class="socials__link" href="#"><img src="/img/icons/ok.svg" alt="" /></a>
  </li>
  <li class="socials__item">
    <a class="socials__link" href="#"
      ><img src="/img/icons/mailru.svg" alt=""
    /></a>
  </li>
</ul>
