<div class="text-page">
  <h2 class="text-page__title">Conditions of Contract</h2>
  <p>
    Star Way Luxury Tourism, 1404-52, Regal Tower, Dubai, United Arab Emirates
    (“we” , “us” or “our”) provides the Kalimera Meet & Greet services to
    Customers ( “ you” or “your ” ) either by itself or through its suppliers.
  </p>
  <p>
    Any voucher and all other documents and coupons issued in respect of the
    Kalimera Meet & Greet services are furnished and issued subject to these
    Conditions of Contract and to any and all terms and conditions of the
    owners, operators, public carriers and such other persons who provide
    Kalimera Meet & Greet services to you. Copies of such terms and conditions
    are available on request. The purchase of Kalimera Meet & Greet services
    shall be deemed to constitute your consent and acceptance of these
    Conditions of Contract.
  </p>
  <h3>Definitions</h3>
  <p>In these Conditions of Contract:</p>
  <ul>
    <li>
      “Booking Form” means the Kalimera Meet & Greet services Booking Form which
      is used by walk-in Customers.
    </li>
    <li>
      "call center" means the Kalimera Meet & Greet services call center on
      +35797817779.
    </li>
    <li>
      "Conditions of Contract" means these conditions of contract as amended by
      us from time to time.
    </li>
    <li>
      "Customer(s)" means any person booking Kalimera Meet & Greet services
      and/or covered by that booking.
    </li>
    <li>
      "Kalimera Meet & Greet services" means all and any of the services and
      products provided by us as described on the Website from time to time.
    </li>
    <li>
      “No Show” means the failure by any Customer for whom Kalimera Meet & Greet
      services have been booked to utilize those Kalimera Meet & Greet services.
    </li>
    <li>
      “Website” means the Kalimera Meet & Greet services website at
      www.kalimera.vip
    </li>
  </ul>
</div>
