/***
*
* iconfont.scss генерируется динамечески со списком классов для иконочного шрифта
* _iconfont-template.styl - шаблон для генерации файла iconfont.styl
*
***/

/* Генерация рандомного числа, для обнуления кеша при деплое на песок и прод */

//$rand: math.random(10000);

//@font-face {
//	font-family: "iconfont";
//	src: url('../fonts/iconfont/iconfont.eot?v='$rand);
//	src: url('../fonts/iconfont/iconfont.eot?v='$rand'#iefix') format('eot'),
//		url('../fonts/iconfont/iconfont.woff2?v='$rand) format('woff2'),
//		url('../fonts/iconfont/iconfont.woff?v='$rand) format('woff'),
//		url('../fonts/iconfont/iconfont.ttf?v='$rand) format('truetype'),
//		url('../fonts/iconfont/iconfont.svg?v='$rand'#iconfont') format('svg');
//}

@font-face {
  font-family: 'iconfont';
  src: url('../fonts/iconfont/iconfont.eot');
  src: url('../fonts/iconfont/iconfont.eot?#iefix') format('eot'),
    url('../fonts/iconfont/iconfont.woff2') format('woff2'),
    url('../fonts/iconfont/iconfont.woff') format('woff'),
    url('../fonts/iconfont/iconfont.ttf') format('truetype');
}

[class^='icon-'],
[class*=' icon-'] {
  display: flex;
  justify-content: center;
  align-items: center;
  &::before {
    font-family: 'iconfont';
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    text-decoration: none;
    text-transform: none;
  }
}

.icon-activity::before {
  content: '\E001';
}
.icon-arrow-down::before {
  content: '\E002';
}
.icon-arrow-left::before {
  content: '\E003';
}
.icon-arrow-link::before {
  content: '\E004';
}
.icon-arrow-right::before {
  content: '\E005';
}
.icon-arrow-up::before {
  content: '\E006';
}
.icon-back::before {
  content: '\E007';
}
.icon-burger::before {
  content: '\E008';
}
.icon-calendar::before {
  content: '\E009';
}
.icon-chat::before {
  content: '\E00A';
}
.icon-check::before {
  content: '\E00B';
}
.icon-close::before {
  content: '\E00C';
}
.icon-edit::before {
  content: '\E00D';
}
.icon-error::before {
  content: '\E00E';
}
.icon-fav-filled::before {
  content: '\E00F';
}
.icon-favorite::before {
  content: '\E010';
}
.icon-feedback::before {
  content: '\E011';
}
.icon-hide::before {
  content: '\E012';
}
.icon-info::before {
  content: '\E013';
}
.icon-library::before {
  content: '\E014';
}
.icon-lightbulb::before {
  content: '\E015';
}
.icon-lock::before {
  content: '\E016';
}
.icon-logo::before {
  content: '\E017';
}
.icon-logout::before {
  content: '\E018';
}
.icon-lotus::before {
  content: '\E019';
}
.icon-menu::before {
  content: '\E01A';
}
.icon-next::before {
  content: '\E01B';
}
.icon-password::before {
  content: '\E01C';
}
.icon-pause::before {
  content: '\E01D';
}
.icon-play::before {
  content: '\E01E';
}
.icon-prev::before {
  content: '\E01F';
}
.icon-profile::before {
  content: '\E020';
}
.icon-refresh::before {
  content: '\E021';
}
.icon-repeat::before {
  content: '\E022';
}
.icon-search::before {
  content: '\E023';
}
.icon-star::before {
  content: '\E024';
}
.icon-subscribes::before {
  content: '\E025';
}
.icon-success::before {
  content: '\E026';
}
.icon-support::before {
  content: '\E027';
}
.icon-view::before {
  content: '\E028';
}
.icon-volume-mute::before {
  content: '\E029';
}
.icon-volume::before {
  content: '\E02A';
}
.icon-yoga::before {
  content: '\E02B';
}
.icon-facebook::before {
  content: '\E02C';
}
.icon-instagram::before {
  content: '\E02D';
}
.icon-telegram::before {
  content: '\E02E';
}
.icon-twitter::before {
  content: '\E02F';
}
