.page {
  &-form {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    min-height: 100%;
    padding-bottom: 60px;
    background-image: url('../img/backgrounds/page-form-bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    & .logo {
      margin-top: 102px;
      margin-bottom: 40px;
      font-size: 64px;
      line-height: 42px;
      color: #ffffff;
    }
  }
  &-error {
    padding: 80px 0 100px 0;
    &__content {
      max-width: 1062px;
      margin: auto;
      text-align: center;
      background-color: #f7f7f7;
      background-image: url('../img/backgrounds/error-bg.jpg');
      background-repeat: no-repeat;
      background-position: bottom center;
      background-size: cover;
      padding: 80px 40px 450px 40px;
      border-radius: 40px;
      & .button--s1 {
        max-width: 230px;
      }
    }
    &__title {
      font-size: 36px;
      line-height: 44px;
    }
    &__description {
      margin-bottom: 32px;
      font-size: 18px;
    }
  }
  &-user {
    padding-top: 48px;
    padding-bottom: 120px;
    & .container {
      max-width: 640px;
      padding: 0 20px;
    }
    & .page__title {
      margin-bottom: 0;
    }
    & .page__header {
      margin-bottom: 48px;
    }
  }
  & .notification {
    text-align: center;
    margin: auto;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 700;
  }
  &-program {
    padding: 60px 0;
    & .section {
      & .container {
        padding: 0 160px;
        & .section__pic {
          max-height: 480px;
        }
      }
      & h1.section__title {
        font-size: 36px;
        line-height: 44px;
        max-width: 500px;
      }
      & .section__description {
        font-size: 18px;
      }
    }
  }
  &-library {
    padding: 48px 0 100px 0;
    & .page__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 58px;
      &--link {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        & .back-link {
          margin-bottom: 12px;
        }
      }
      & .search {
        margin-left: auto;
      }
      & .page__title {
        display: flex;
        align-items: center;
        width: 100%;
        & h1 {
          font-size: 36px;
          line-height: 44px;
          margin-bottom: 0;
          width: auto;
        }
      }
    }
  }
}
