<div class="burger-menu__wrapper" data-burger-menu>
  <div class="burger-menu__closer" data-burger-menu-closer>
    <i class="icon-close"></i>
  </div>
  <ul class="burger-menu">
    <li class="burger-menu__item">
      <a href="pages/library.html">Библиотека</a>
    </li>
    <li class="burger-menu__item">
      <a href="pages/library-article.html"
        >Все, что нужно знать о Кундалини йоге</a
      >
    </li>
    <li class="burger-menu__item"><a href="pages/login.html">Войти</a></li>
  </ul>
  <div class="burger-menu__footer">
    <a href="#" class="button button--contact"
      ><i class="icon-chat"></i>Напишите нам</a
    >
    <div class="logo">
      <a href="../index.html"
        ><img src="../img/logos/logo-grey.svg" alt="Logo"
      /></a>
    </div>
  </div>
</div>
