<ul class="menu-mobile">
  <li class="menu-mobile__item">
    <a class="menu-mobile__link active" href="pages/my-program-first.html"
      ><i class="icon-logo"></i><span>Моя программа</span></a
    >
  </li>
  <li class="menu-mobile__item">
    <a class="menu-mobile__link" href="pages/library-favorite.html"
      ><i class="icon-fav-filled"></i><span>Избранное</span></a
    >
  </li>
  <li class="menu-mobile__item">
    <a class="menu-mobile__link" href="pages/library.html"
      ><i class="icon-library"></i><span>Библиотека</span></a
    >
  </li>
  <li class="menu-mobile__item">
    <div class="menu-mobile__link" data-profile-menu>
      <i class="icon-profile"></i><span>Профиль</span>
    </div>
  </li>
</ul>
