<meta charset="utf-8" />
<title>Yoga Care</title>
<link rel="icon" type="image/png" sizes="16x16" href="../favicon.png" />
<link type="image/x-icon" href="../favicon.ico" rel="shortcut icon" />
<link type="Image/x-icon" href="../favicon.ico" rel="icon" />
<meta
  name="viewport"
  content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0"
/>
<link href="../css/init.css" rel="stylesheet" />
<script src="//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/swiper@9.0.5/swiper-bundle.min.js"></script>
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@9.0.5/swiper-bundle.min.css"
/>
<!-- <link rel="preload" href="@/assets/img/section/FrameVideo.webp" as="image" />
<link rel="preload" href="@/assets/img/section/FrameVideo_1.webp" as="image" />
<link rel="preload" href="@/assets/img/section/Chakras-girl.webp" as="image" /> -->
<script>
  window.jQuery || document.write('<script src="../js/jquery.js"><\/script>')
</script>

<noscript>
  <style>
    body {
      width: 100vw !important;
      height: 100vh !important;
      overflow: hidden !important;
    }
    .noscript {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 11111111;

      display: flex;
      align-items: center;
      justify-content: center;

      color: #fff;

      background: #000;
    }
  </style>

  <div class="noscript">
    У вас отключен JS, функционирование сайта невозможно.
  </div>
</noscript>
