mjml
  mj-head
    mj-preview
      | Yoga Care
    mj-title
      | Yoga Care
    mj-breakpoint(width="320px")
    mj-attributes
      mj-text(padding='0')
      mj-class(name='blue', color='black')
      mj-class(name='big', font-size='18px', font-weight='bold')
      mj-class(name='valigntop', padding-right='25px', line-height='120px')
      mj-class(name='normal', font-size='15px')
      mj-class(name='medium', font-size='14px')
      mj-class(name='center', align='center')
      mj-class(name='text-center', text-align='center')
      mj-class(name='right', align='right')
      mj-class(name='left', align='left')
      mj-class(name='white', color='#ffffff')
      mj-class(name='small', color='#1f1f1f' font-size='11px', line-height='14px')
      mj-class(name='button', background-color='#343434', font-size='16px', font-weight='bold', padding='10px 30px')
      mj-class(name='social', width='40px')
      mj-all(font-family='Verdana,Arial,Helvetica,sans-serif')
      mj-styles
        .table
          max-width: 600px

  mj-body
    mj-wrapper(border-radius='20px  20px 0 0' background-url='./img/bg.jpg' background-color='#000000' background-size='100%' background-repeat='repeat-y' background-position='bottom' padding='0')

      block header
        include ./header.pug

      block banner
        include ./user-pass.pug

      block footer
        include ./footer.pug
