mj-section(padding='16px 0 0 0' text-align='center' width='100%')
    mj-column
        mj-image(src='./img/logo-header.png' max-width='100%' width='65px' )
mj-section(padding='0 25px' text-align='center')
    mj-text
        h2(style='color:#000000; padding:12px 0 0; margin:0; font-size:18px; vertical-align:middle; font-weight:500; text-align:center')
            | Мы в социальных сетях
mj-section(padding='20px 0 12px' text-align='center')
    mj-social
        mj-social-element(href='#' src='./img/instagram.png' padding='0 10px' icon-size="20px")
        mj-social-element(href='#' src='./img/facebook.png' padding='0 10px' icon-size="20px")
        mj-social-element(href='#' src='./img/vk.png' padding='0 10px' icon-size="20px")
        mj-social-element(href='#' src='./img/youtube.png' padding='0 10px' icon-size="20px")

mj-section(padding='20px')
    mj-column
        mj-text(mj-class='blue medium center' padding='0')
            p(style='font-size:14px; color:#000000; margin:0; line-height: 150%')
                | Если Вы получили это письмо случайно, для отписки нажмите <a rel="noopener noreferrer" href="{{unsubscribe_url}}" style="border: 0px; color: #000000;">здесь</a>
