



mj-section(padding-bottom='0' full-width="full-width" background-color='#59CA56' padding='0')
    mj-group
        mj-column(padding='0')
            mj-image(src='./img/logo-header.png' max-width='100%' width='65px' height='42px' padding='15px 0' )
