mj-section(padding-bottom='0')
    mj-column(background-color='#ffffff' padding='30px' width='90%' border-radius='15px' margin-top='15px')
        mj-text(padding='0' align="center")
            h2(style='color:#000000; padding:0; margin:0; font-size:30px; vertical-align:middle; font-weight: 700; line-height:150%')
                | Dobrý den!
            h3(style='color:#000000; padding:0; margin:0; font-size:15px; vertical-align:middle; font-weight: 700; line-height:150%')
                | Potřebujeme ověřit, že se jedná o váš e-mailový účet.
            p(style='color:#000000; padding:0; margin:16px 0; font-size:14px; vertical-align:middle; font-weight: 500; line-height:150%')
                | Prosím, klikněte na následující odkaz pro potvrzení svého účtu:
        mj-button(href='https://fitkitchen.cz/' background-color="#DF6060" text-transform='uppercase' font-weight='700' border-radius='20px' padding='10px')
            |  Potvrdit účet
        mj-section(padding='10px 0 0 0')
            mj-column(background-color='#F9F9FA' padding='15px 20px' border-radius='15px' margin-top='15px')
                mj-text(padding='0' align="center")
                    p(style='font-size:12px; vertical-align:middle; font-weight: 400; line-height:150%')
                        | V případě jakýchkoliv dotazů neváhejte se prosím kontaktovat na čísle
                mj-button(background-color="#ffffff" color='#007E87' text-transform='uppercase' font-weight='700' border-radius='20px' padding='10px')
                    | +420 227 031 032
