mj-section(padding-bottom='0')
    mj-column(background-color='rgba(255, 255, 255, 0.8)' padding='30px' width='90%' border-radius='15px' margin-top='15px')
        mj-text(padding='0' align="center")
            h2(style='color:#000000; padding:0; margin:0; font-size:24px; vertical-align:middle; font-weight: 500; line-height:150%')
                | Вы зарегистрированы на сайте YYC
            h3(style='color:#000000; padding:0; margin:32px 0; font-size:15px; vertical-align:middle; font-weight: 400; line-height:150%')
                | Вам подобрана программа <br>
                | <b>Практика «Здоровый сон»</b>.
            p(style='color:#000000; padding:0; margin:16px 0; font-size:16px; vertical-align:middle; font-weight: 500; line-height:150%')
                | Практика для идеального завершения долгого дня. Снимет усталость, поможет расслабиться и отвлечься от дневных забот. Настроит на крепкий безмятежный сон.


        mj-image(src='./img/article.jpg' max-width='100%' width='480px' padding='16px 0')
        mj-text(padding='0' align="center")
            p(style='color:#000000; padding:0; margin:16px 0; font-size:16px; vertical-align:middle; font-weight: 500; line-height:150%')
                | Для того чтобы продолжить в личном кабинете перейдите по ссылке ниже:
        mj-button(href='https://keekerun.fun/' background-color="#3AB737" font-weight='400' font-size='14px' border-radius='12px' padding='15px')
            | Войти в кабинет
