{% set logged = "yes" %} {% extends "master/master.html" %} {% block content %}

<div class="page page-program">
  <section class="section section--video">
    <div class="container">
      <div class="program-video__wrapper">
        <div class="progress">
          <p class="progress__title">Мой путь к цели</p>
          <div class="progress-bar__wrapper">
            <div class="progress-bar"></div>
            <div class="progress-bar__mask" style="left: 50%"></div>
          </div>
        </div>
        <div class="program-video__notice">
          <i class="icon-info"></i>
          <p>
            Пробное занятие доступно 7 дней. <a href="#">Купи меня</a>
            <span>Осталось 7 дней</span>
          </p>
        </div>
        <div class="program-video">
          <div class="program-video__content">
            <img src="../img/backgrounds/video-bg.jpg" alt="" />
          </div>
          <div class="program-video__controls program-video__controls--top">
            <div class="program-video__favorite">
              <i class="icon-favorite"></i>
            </div>
          </div>
          <div class="program-video__controls">
            <button class="button button--s2 button--t1">
              <i class="icon-play"></i>Начать занятие
            </button>
            <div class="program-video__status">
              <i class="icon-calendar"></i>
            </div>
          </div>
        </div>
        <div class="program-video">
          <div class="program-video__content">
            <img src="../img/backgrounds/video-bg.jpg" alt="" />
          </div>
          <div class="program-video__controls program-video__controls--top">
            <div class="program-video__favorite">
              <i class="icon-favorite"></i>
            </div>
          </div>
          <div class="program-video__controls">
            <button class="button button--s2 button--t1">
              <i class="icon-play"></i>Начать занятие
            </button>
            <div class="program-video__status">
              <div class="lessons__count">2/120</div>
              <span class="tooltip">Вы делаете эту практику 2 дня из 120</span>
            </div>
          </div>
        </div>
        <div class="program-video__title">
          <h2>Практика «Здоровый сон»</h2>
          <div class="program-video__info">
            <div class="program-video__duration">20 минут</div>
            <i class="icon-favorite"></i>
          </div>
        </div>
        <div class="program-video__description">
          <p>
            Практика для идеального завершения долгого дня. Снимет усталость,
            поможет расслабиться и отвлечься от дневных забот. Настроит на
            крепкий безмятежный сон.
          </p>
        </div>
      </div>
    </div>
  </section>
  <section class="section section--program">
    <div class="container">
      <div class="subscribes__wrapper">
        <h3 class="subscribes__title">
          Получите полный доступ к вашей программе
        </h3>
        <div class="program__description">
          Продолжайте заниматься по программе — только ежедвневная практика
          позволит достигнуть желаемых результатов.
        </div>
        <div class="subscribes">
          <div class="subscribes__item">
            <div class="subscribes__description">
              <div class="subscribes__term">1 месяц</div>
              <div class="subscribes__info">
                <div class="subscribes__price">400 ₽</div>
              </div>
            </div>
          </div>
          <div class="subscribes__item">
            <div class="subscribes__description">
              <div class="subscribes__term">6 месяцев</div>
              <div class="subscribes__info">
                <div class="subscribes__discount">20%</div>
                <div class="subscribes__notice">320 ₽/мес.</div>
                <div class="subscribes__price">1 920 ₽</div>
              </div>
            </div>
          </div>
          <div class="subscribes__item yearly">
            <div class="subscribes__description">
              <div class="subscribes__term">12 месяцев</div>
              <div class="subscribes__info">
                <div class="subscribes__discount">40%</div>
                <div class="subscribes__notice">280 ₽/мес.</div>
                <div class="subscribes__price">3 360 ₽</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="feedback__wrapper">
        <div class="swiper" data-slider-feedback>
          <ul class="swiper-wrapper">
            {% for item in range(0, 15) %}
            <li class="swiper-slide feedback-slider__item">
              <div class="feedback__rating">
                <i class="icon-star filled"></i>
                <i class="icon-star filled"></i>
                <i class="icon-star filled"></i>
                <i class="icon-star filled"></i>
                <i class="icon-star"></i>
              </div>
              <div class="feedback__content">
                Прошла программу «Глубокая релаксация» и очень довольна
                результатом. Буду продолжать занятия.
              </div>
              <div class="feedback__name">Инна</div>
            </li>
            {% endfor %}
          </ul>
        </div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </div>
    </div>
    <img class="program__bg" src="/img/backgrounds/program-bg.png" />
  </section>
  <section class="section section--program-description">
    <img
      src="../img/backgrounds/program-description-bg.jpg"
      class="program-description__img"
      alt=""
    />
    <div class="container">
      <div class="program-description">
        <div class="program-description__name">Моя программа</div>
        <h3 class="program-description__title">Глубокая релаксация</h3>
        <div class="program-description__text">
          <p>
            Эта специально составленная программа
            <a href="#">акцентирует расслабляющий</a> аспект практики йоги
            Айенгара. Наряду с супта-асанами (позами, выполняемыми лежа на
            спине) в ней есть асаны, раскрывающие солнечное сплетение и
            диафрагму – область, где длительный стресс вызывает мышечный зажим,
            влияющий не только на эмоциональный фон, но и на работу внутренних
            органов.
          </p>
          <p>
            Кроме того, во время занятия выполняются пассивные вариации
            перевёрнутых поз. Перевёрнутые асаны благотворное влияют на головной
            мозг и нервную систему в целом. А пассивное выполнение позволяет
            пребывать в позах дольше, что углубляет их воздействия.
          </p>
          <p>
            Кроме того, во время занятия выполняются пассивные вариации
            перевёрнутых поз. Перевёрнутые асаны благотворное влияют на головной
            мозг и нервную систему в целом. А пассивное выполнение позволяет
            пребывать в позах дольше, что углубляет их воздействия.
          </p>
          <p>
            Кроме того, во время занятия выполняются пассивные вариации
            перевёрнутых поз. Перевёрнутые асаны благотворное влияют на головной
            мозг и нервную систему в целом. А пассивное выполнение позволяет
            пребывать в позах дольше, что углубляет их воздействия.
          </p>
        </div>
        <div class="read-more__text">
          Показать полностью <i class="icon-arrow-down"></i>
        </div>
      </div>
      <script>
        const content = document.querySelector('.program-description__text')
        const button = document.querySelector('.read-more__text')
        button.onclick = function () {
          content.classList.toggle('active')
          button.classList.toggle('active')
        }
      </script>
    </div>
  </section>
  <section class="section section--lessons">
    <div class="lessons-slider" data-lazy>
      <!-- If we need pagination -->
      <div class="swiper" data-slider-program>
        <ul class="swiper-wrapper">
          {% for item in range(0, 15) %}
          <li class="swiper-slide lessons-slider__item">
            <div class="lessons__status"><i class="icon-check"></i></div>
            <div class="lessons-slider__img">
              <div class="lessons-slider__blocked">
                <i class="icon-lock"></i>
              </div>
              <img data-src="/img/elements/lesson.png" alt="" />
            </div>
            <div class="lessons-slider__info">
              <span class="lessons-slider__name"
                >Восстановить силы после долгого дня</span
              >
              <span class="lessons-slider__duration">10 мин.</span>
            </div>
          </li>
          {% endfor %}
        </ul>
        <!-- navigation buttons -->
        <div class="lessons-slider__controls">
          <div class="slider-button slider-button__prev">
            <i class="icon-arrow-left"></i>
          </div>
          <div class="slider-button slider-button__next">
            <i class="icon-arrow-right"></i>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section section--lessons">
    <div class="lessons-slider" data-lazy>
      <!-- If we need pagination -->
      <div class="swiper" data-slider-program>
        <ul class="swiper-wrapper">
          <li class="swiper-slide lessons-slider__item">
            <div class="lessons__status viewed"><i class="icon-check"></i></div>
            <div class="lessons-slider__img">
              <div class="lessons-slider__overlay">
                <button class="button-play"><i class="icon-play"></i></button>
              </div>
              <div class="lessons-slider__status">
                <span>120 / 120</span>
              </div>
              <img data-src="/img/elements/lesson.png" alt="" />
            </div>
            <div class="lessons-slider__info">
              <span class="lessons-slider__name"
                >Восстановить силы после долгого дня</span
              >
              <span class="lessons-slider__duration">10 мин.</span>
            </div>
          </li>
          {% for item in range(0, 14) %}
          <li class="swiper-slide lessons-slider__item">
            <div class="lessons__status"><i class="icon-check"></i></div>
            <div class="lessons-slider__img">
              <div class="lessons-slider__overlay">
                <button class="button-play"><i class="icon-play"></i></button>
              </div>
              <div class="lessons-slider__status">
                <i class="icon-calendar"></i>
              </div>
              <img data-src="/img/elements/lesson.png" alt="" />
            </div>
            <div class="lessons-slider__info">
              <span class="lessons-slider__name"
                >Восстановить силы после долгого дня</span
              >
              <span class="lessons-slider__duration">10 мин.</span>
            </div>
          </li>
          {% endfor %}
        </ul>
        <!-- navigation buttons -->
        <div class="lessons-slider__controls">
          <div class="slider-button slider-button__prev">
            <i class="icon-arrow-left"></i>
          </div>
          <div class="slider-button slider-button__next">
            <i class="icon-arrow-right"></i>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section section--sharing">
    <div class="container">
      <div class="sharing__wrapper">
        <h3 class="sharing__title">Мои шеринги</h3>
        <div class="sharing__description">
          <div class="icon__wrapper">
            <i class="icon-activity"></i>
          </div>
          <p>
            Здесь будет отображаться история ваших шерингов и динамика
            результатов. Делитесь впечатлениями после каждого занятия, пройдя
            короткий опрос.
          </p>
        </div>
      </div>
    </div>
  </section>
  <section class="section section--sharing">
    <div class="container">
      <div class="sharing__wrapper">
        <h3 class="sharing__title">Мои шеринги</h3>
        <div class="sharing__graph">
          <div class="sharing-tags__wrapper">
            <div class="sharing-tag green">
              <i class="icon-close"></i>Ощущения
            </div>
            <div class="sharing-tag blue"><i class="icon-close"></i>Мысли</div>
            <div class="sharing-tag purple">
              <i class="icon-close"></i>Чувства
            </div>
            <div class="sharing-tag purple disabled">
              <i class="icon-close"></i>Чувства
            </div>
          </div>
          <img src="../img/elements/graph.svg" />
        </div>
      </div>
    </div>
    <div class="container">
      <div class="sharing__wrapper">
        <h3 class="sharing__title">Я занимаюсь...</h3>
        <div class="sharing__statistic">
          <div class="statistic__row">
            <div class="statistic__value">7</div>
            <p class="statistic__desc">дней подряд</p>
          </div>
          <div class="statistic__row">
            <div class="statistic__value">140</div>
            <p class="statistic__desc">минут</p>
          </div>
          <div class="statistic__row">
            <div class="statistic__value">1</div>
            <p class="statistic__desc">крий завершено</p>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="sharing__wrapper">
        <div class="sharing__choose">
          <p>Не подходит программа? Подберите новую</p>
          <a class="button button--s2 button--t1">Подобрать новую программу</a>
        </div>
      </div>
    </div>
  </section>
  <div class="recommendation">
    <div class="recommendation__wrapper">
      <div class="recommendation__img">
        <img src="../img/elements/article.jpg" alt="" />
      </div>
      <div class="recommendation__content">
        <p>Основы йоги</p>
        <h3>Необходимые знания о Кундалини йоге</h3>
        <a href="" class="read-more">Читать статью</a>
      </div>
    </div>
    <button class="button-close"><i class="icon-close"></i></button>
  </div>
</div>

{% endblock %}
