<form method="post" action="#" class="form form--change-password">
  <div class="form__heading">
    <h2 class="form__title">Смена пароля</h2>
  </div>
  <div class="form__description">
    Подтвердите, что это ваш аккаунт,<br />
    введите текущий пароль.
  </div>
  <fieldset class="form__section">
    {{ fieldInput({ type: 'password', id: 'pass', label: '', placeholder:
    'Текущий пароль', notification: '' }) }}
  </fieldset>
  <fieldset class="form__section form__section--submit">
    {{ fieldButton({ tag: 'button', type: 'submit', typeClass: '2', sizeClass:
    '', disabled: '', content: 'Продолжить', disabled: 'disabled' }) }}
  </fieldset>
</form>
